.top ul{
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
	}

	li {
	  float: right;
	}

	li  {
	  display: inline-block;
	  color: white;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	}

	li {
	  background-color: #111;
	}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.featured_events::after {
  content: "";
  clear: both;
  display: table;
}


* {
  box-sizing: border-box;
}

.row {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.planting::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}

.yea {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.cultivation::after {
  content: "";
  clear: both;
  display: table;
}

